 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                        <h3>Open</h3>
                        <p class="text-muted">All software and data included in myChEMBL are free, as in 'free speech'.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-arrows-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Scalable</h3>
                        <p class="text-muted">You can run myChEMBL on your laptop, as well as on a server machine or on the cloud.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Saves time</h3>
                        <p class="text-muted">All software in myChEMBL comes preconfigured and ready to run.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Wise</h3>
                        <p class="text-muted">In addition to lots of data and software, myChEMBL also shows you how to use them.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
